.whiteLabelText{
	-fx-font-family: "Noto Sans Korean Regular";
    -fx-text-fill: WHITE;
}

.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14.0px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(77.0,102.0,204.0);
    -fx-pref-width: 200.0;
    -fx-text-fill: WHITE;
}

/* Basic Font */
.basic-font {
	-fx-font-family: "Noto Sans Korean Regular"
}

.font-black {
	-fx-text-fill: black;
}

.bold {
	-fx-font-weight: bold;
}

/* SplitPane */
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}

/* TabPane */
.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-border-color: #a3a7a8;
    -fx-border-radius: 5.0 5.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-pref-height: 40.0px;  
    -fx-background-insets: 0.0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-border-color: #2381E9 #a3a7a8 #a3a7a8 #a3a7a8;
    -fx-border-width: 5.0 1.0 1.0 1.0;   
    -fx-border-radius: 5.0 5.0 0.0 0.0;
    -fx-background-color: white;
    -fx-pref-height: 40.0px;  
    -fx-background-insets: 0.0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #2381E9;
    -fx-font-weight: bold;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #2381E9;
    -fx-font-weight: bold;
    -fx-font-family: "Noto Sans Korean Regular";
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: white;
    -fx-border-color: #a3a7a8;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-background-insets: 0.0;
    -fx-pref-height: 45.0px;  
}

/* TextField */
.text-field {
    -fx-background-color: -fx-text-box-border, white ;
    -fx-background-insets: 0.0, 0.5 0.5 0.5 0.5 ;
    -fx-background-radius: 0.0 ;
    -fx-font-family: "Noto Sans Korean Regular";
}
.text-field:focused {
    -fx-background-color: #039ED3, -fx-background;
}

/* Label */
.gridTitleLabel {
    -fx-font-family: "Noto Sans Korean Regular";
    -fx-font-size: 11.0px;
    -fx-line-spacing: 0.0;
}

/* JFXComboBox */
.jfx-combo-box {
    -fx-background-color: -fx-text-box-border, white ;
    -fx-background-insets: 0.0, 0.5 0.5 0.5 0.5 ;
    -fx-background-radius: 0.0 ;
    -fx-font-family: "Noto Sans Korean Regular";
    -fx-font-size: 10.0px;
}

.jfx-combo-box:focused {
    -fx-background-color: #039ED3, -fx-background;
}

/* TableView */
.table-view:focused {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7.0px 7.0px 0.0px 0.0px;
    -fx-background-insets: 0.0 11.0px 0.0 0.0;
    -fx-padding: 0.0 0.0 5.0px 0.0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2.0 0.0 2.0 10.0px;
}

.table-row-cell: hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: blue;
}

.table-row-cell: odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;
}

.table-row-cell: even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
	-fx-background-color: whitesmoke; 
   	-fx-font-weight: bold;
    -fx-text-background-color:  red;
}

.table-view .show-hide-columns-button {
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-insets: 2.0 0.0 0.0 2.5;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0.0;
    -fx-padding: 2.0;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}


* {
	-fx-primary-color: #01077d; /* #007acc */
	-fx-secondary-color: #4B6EAF;
	-fx-light-grey-color: #d1d1d1;
    
	-fx-focus-color: -fx-secondary-color;
}

/* Datepicker */
.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0.0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.gray-scrollbar .scroll-bar { 
	-fx-background-color: white;
}

.gray-scrollbar .scroll-bar:horizontal .track,
.gray-scrollbar .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.gray-scrollbar .scroll-bar:horizontal .increment-button ,
.gray-scrollbar .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-padding: 0.0 0.0 10.0 0.0;
}

.gray-scrollbar .scroll-bar:vertical .increment-button ,
.gray-scrollbar .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
	-fx-padding: 0.0 10.0 0.0 0.0;
}

.gray-scrollbar .scroll-bar .increment-arrow,
.gray-scrollbar .scroll-bar .decrement-arrow{
	-fx-padding: 2.0 0.0 2.0 0.0;
}
 
.gray-scrollbar .scroll-bar:horizontal .thumb,
.gray-scrollbar .scroll-bar:vertical .thumb {
    -fx-background-color: derive(gray,40.0%);
}

/* No scrollbar tableview */
.no-scrollbar-tableview .virtual-flow .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
