<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${title}"></title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.4.0/simplex/bootstrap.min.css"
          integrity="sha512-0FG7nV64qlyGMQHtk7WOzPY1NZ6SKmjNee+PMX/7xbJu8Qx6LlHhCjSj9hRDJQ6QnlFsUrcKHKxli/9z4uhHrA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/custom.css" type="text/css">

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
        integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand" role="button">DBMonitoring</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"
                    aria-label="Open Menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle pointer" data-toggle="dropdown" href="#" role="button">
                        Community<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="https://github.com/Dokyeongyun/DBMonitoring/issues">Issues</a></li>
                    </ul>
                </li>
                <li><a href="/" role="button">Download</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid main-section" id="main-section">
    <div class="page-header">
        <div class="row">
            <h2 class="text-left">Download for Windows</h2>
        </div>
        <div class="row">
            <p>
                This DB monitoring program was developed to monitor the health of database systems operated by
                individuals or businesses. This program was developed as a one-man project, and although it currently
                offers feeble functionality, we promise to add more features continuously in the future. For Oracle DBMS
                monitoring, you can perform the following tasks:
            </p>
            <ul>
                <li>Archive usage monitoring</li>
                <li>Tablespace usage monitoring</li>
                <li>OS disk usage monitoring</li>
                <li>Alert log monitoring</li>
            </ul>
            <p>
                Please refer to <a href="https://github.com/Dokyeongyun/DBMonitoring"><span>GitHub</span></a>
                for detailed source code.
            </p>
        </div>
        <div class="row">
            <h2 class="text-left">Looking for a specific release?</h2>
            <p>DBMonitoring program releases by version number:</p>
        </div>
        <div class="row">
            <table class="release-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                </colgroup>
                <thead>
                <tr>
                    <th>Release version</th>
                    <th>Release date</th>
                    <th>Download</th>
                    <th>Click for more</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="release : ${releaseList}">
                    <tr>
                        <td>
                            <b><span th:text="${release.appName}"></span>-
                                <span th:text="${release.releaseVersion}"></span></b>
                        </td>
                        <td>
                            <span th:text="${#temporals.format(release.releaseDate,
                                'MMM d,yyyy', new java.util.Locale('en', 'EN'))}"></span>
                        </td>
                        <td>
                            <i class="fa fa-download"></i>
                            <b><a th:href="@{${release.downloadLink}}"><span>Download</span></a></b>
                        </td>
                        <td>
                            <i class="fa-solid fa-file"></i>
                            <b><a th:href="@{${release.releaseNoteLink}}"><span>Release Notes</span></a></b>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer class="container">
    <footer class="footer text-center">
        <div class="container">
            Copyright © 2021-2022 The Project DBMonitoring Author <a
            href="https://github.com/dokyeongyun">Dokyeongyun</a>.
        </div>
    </footer>
</footer>
</body>
</html>