<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/home.css}" rel="stylesheet" type="text/css">
<title>Home</title>
</head>
<body>
	<h1>DB Monitoring Program Download</h1>
	<table>
		<tbody>
			<tr>
				<th>Programs</th>
			</tr>
			<th:block th:each="downloadLink : ${downloadLinks}">
				<tr>
					<td><a th:href="@{${downloadLink}}"><span
							th:text="${downloadLink}"></span></a></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</body>
</html>