.textInputDialog {
	-fx-font-family: NanumGothic;
	-fx-background-color: #ffffff;
}

.textInputDialog .button {
	-fx-background-color: #ffffff;
	-fx-border-color: #ddd;
	-fx-font-size: 12px;
	-fx-border-radius: 30px;
	-fx-text-fill: black;
}

.textInputDialog .text-field {
    -fx-background-color: -fx-text-box-border, white ;
    -fx-background-insets: 0, 0.5 0.5 0.5 0.5 ;
    -fx-background-radius: 0 ;
    -fx-font-family: NanumGothic;
}
.textInputDialog .text-field:focused {
    -fx-background-color: -fx-focus-color, white;
}